body{
  padding-left: 20px;
  padding: 20px;
}
table {
    border-collapse: collapse;
  }
table th, table td {
    border: 1px solid black;
    padding: 5px;
}
div input, div select, div textarea{
  width: 175px;
  margin-bottom: 10px;
}

input[type=submit]{
  background-color: lime;
  color: black;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img{
  width: 150px;
  height: 150px;
}